* {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 18.7rem 1fr;
    margin: 0;
    background-color: white;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
aside {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem;
    padding-left: 0px;
    background-color: beige;
}
aside .logo {
    margin-left: 1.2rem;
    width: 12.5rem;
}
aside .form {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 0.6rem;
}
aside .form > a {
    display: flex;
    margin-left: 1.9rem; 
    line-height: 1.2rem;
    font-size: 1.2rem;
    width: 12.5rem;
    height: 3.75rem;
    border: none;
    padding: 0.3rem 1rem 0.3rem 1.2rem ;
    background-color: #F7F8FD;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
}
aside .form > .circle {
    content: '';
    display: block;
    line-height: 2.7rem;
    font-size: 3rem;
    background-color: #6F62AE;
    color: #F8F7FD;
    width: 2.7rem;
    height: 2.7rem;
    text-align: center;
    position: absolute;
    right: 3rem;
    font-size: 2rem;
    border-radius: 50%;
    box-shadow: 0rem 0.6rem 1.1rem 0rem #DFDFE3;
}
aside .circle:hover {
    background-color: #E6DAFE;
    color: #6F62AE;
    cursor: pointer;
}
aside .main-nav {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
aside .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside .link {
    
    padding: 1.2rem 0rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}
aside .active {
    color: #6F62AE;
}
aside .upgrade-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F7FD;
    margin-left: 3.75rem;
    margin-top: 5rem;
    height: 9.35rem;
    width: 10rem;
    padding: 0.6rem 0;
    
}
.upgrade-group .img {
    width: 6.2rem;
    margin-top: -4.37rem;
}
aside .upgrade-text {
    text-align: center;
    font-size: 0.75rem;
    color: #DAD8E3;
}
aside .upgradeBtn {
    background-color: #6F63AF;
    color: white;
    padding: 0.3rem 0.4rem;
    border: 1px solid #6F63AF;
    border-radius: 0.3rem;
}
aside .upgradeBtn:hover {
    background-color: white;
    color: #6F63AF;
    cursor: pointer;
}