.main-header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.3rem;
    margin-left: 0.37rem;
}
.title-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.2rem;
}
.user-block {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-right: 1.2rem;
}
.user-block > .mail {
    font-size: 1.2rem;
    color: black;
}
.user-block > .mail:hover {
    background-color: white;
    color: #6F62AE;
    cursor: pointer;
}
.user-block > .notifications {
    font-size: 1.2rem;
    color: black;
}
.user-block > .notifications:hover {
    background-color: white;
    color: #6F62AE;
    cursor: pointer;
}
.user-block > .avatar {
    width: 2.1rem;
   
}
.user-block > .name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.18rem;
}    
.name .user-name {
    display: flex;
    font-size: large;
    color: black;
}
.name .angle {
    color: black;
    right: 1.9rem;
}
.name .angle:hover {
    background-color: white;
    color: #6F62AE;
    cursor: pointer;
}