.main-header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-left: 6px;

}
.title-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.user-block {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}
.user-block > .mail {
    font-size: 20px;
    color: black;
}
.user-block>.mail:hover {
    background-color: white;
    color: #6F62AE;
    cursor: pointer;
}
.user-block > .notifications {
    font-size: 20px;
    color: black;
}
.user-block>.notifications:hover {
    background-color: white;
    color: #6F62AE;
    cursor: pointer;
}
.user-block > .avatar {
    width: 35px;
   
}
.user-block > .user-name {
    display: flex;
    font-size: large;
    color: black;
    position: relative;

}
.user-block > .angle {
    color: black;
    position: absolute;
    right: 30px;
}
.user-block>.angle:hover {
    background-color: white;
    color: #6F62AE;
    cursor: pointer;
}