main {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'header header header header'
    'hi hi hi hi'
    'overview overview overview overview'
    'next next next next'
    'digital digital digital digital';
    align-items: start;
    align-content: start;
    padding: 20px 30px;
    gap: 10px;
}
.hi-user {
    grid-area: hi;
}
.overview {
    grid-area: overview;
}
.next-fashion {
    grid-area: next;
}
.digital-marketing {
    grid-area: digital;
}
.block {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-bottom: 60px;
}
.hi-user {
    display: flex;
    justify-content: space-between;
    align-items: centers;
    background-color: #E6DAFE;
    padding: 20px 20px;
    position: relative;
    border-radius: 10px;
    margin-top:  30px;
}
.alyssa {
    width: 220px;
    height: 170px;
    position: absolute;
    right: 20px;
    bottom:  -11px;
}
