main {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'header header header header'
    'hi hi hi hi'
    'overview overview overview overview'
    'next next next next'
    'digital digital digital digital';
    align-items: start;
    align-content: start;
    padding: 20px 30px;
    gap: 30px;
}
.hi-user {
    grid-area: hi;
}
.overview {
    grid-area: overview;
}
.next-fashion {
    grid-area: next;
}
.digital-marketing {
    grid-area: digital;
}

.hi-user {
    display: flex;
    justify-content: space-between;
    align-items: centers;
    background-color: #E6DAFE;
    padding: 10px 20px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 100px;
}
.alyssa {
    width: 220px;
    height: 170px;
    position: absolute;
    right: 20px;
    bottom:  -11px;
}
.overview {
    display: flex;
    width: 100%;
    
    
    background-color: #CDC0EB;
    
}
.overview .link {
    align-self: baseline;
    justify-self:start;
    text-decoration: none;
    color: #A2A2A2;
}
.overview .yellow {
    display: flex;
    flex-direction: row;
    background-color: #F1CB5C;
    justify-content:space-between;
    align-items: center;
    padding: 0px 10px;
    height: 80px;
    border-radius: 10px;
}
.overview .yellow .icon {
   width: 40px;
   height: 40px;
   background-color: #F5D679;
   border-radius: 20%;
}
.yellow .rate {
    padding: 10px;
}
.yellow .rate .number {
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.yellow .rate .text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: white;
    margin-bottom: 20px;
}
.overview .violet {
    background-color: #4F3E9C;
}
.overview .pink {
    background-color: #EC6397;
}
.overview .lightviolet {
    background-color: #CDC0EB;
}