.digital-marketing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding: 1rem 1.6rem;
    position: relative;
    bottom: 4.3rem;
}
.digital-marketing .photo2 {
    width: 7.5rem;

}
.digital-marketing .title {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 17.5rem;
}
.title .title-text {
    margin-left: -6.2rem;
    margin-bottom: -0.3rem;
    color: #3F65F8;
}
.title .text {
    margin-left: -6.2rem;
}
.title .result {
    margin-left: -6.2rem;
    margin-bottom: 1.56rem;
}
.publish {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    top: 0.3rem;
    right: 1.6rem;
}
.publish .publish-text {
    font-size: 0.8rem;
}
.publish .btn2 {
    height: 1.9rem;
    width: 3.75rem;
    font-size: 6.2rem;
    border: 1px solid #EDEDED;
    background-color: white;
    border-radius: 3.1rem;

}
.btn2 .public {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #B7C0DD;
}
.btn2 .public:hover {
    cursor: pointer;
}
.digital-marketing >.fa-form {
    display: flex;
    gap: 1.2rem;
    margin-bottom: -5rem;
    margin-right: 0.6rem;
    cursor: pointer;
}
