.next-fashion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding: 1rem 1.56rem;
    position: relative;
    bottom: 1.9rem;
}
.next-fashion .photo1 {
    width: 7rem;

}
.next-fashion .title {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 17.5rem;
}
.title .title-text {
    margin-left: -6.2rem;
    font-size: 1rem;
    color: #3F65F8;
}
.title .text {
    margin-left: -6.2rem;
    margin-bottom: -0.5rem;
    font-size: 0.9rem;
    line-height: 1.4em;
}
.title .result {
    margin-left: -6.2rem;
    margin-bottom: 1.56rem;
}
.publish {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    position: absolute;
    top: 0.3rem;
    right: 1.56rem;
}
.publish .publish-text {
    font-size: 0.8rem;
}
.publish .btn {
    height: 1.9rem;
    width: 3.75rem;
    font-size: 6.2rem;
    border: 0.06rem solid #EDEDED;
    background-color: white;
    border-radius: 3rem;

}
.btn .public {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #4F3E9C;
    margin-left: 1.6rem;
}
.btn .public:hover {
    cursor: pointer;
}
.next-fashion > .fa-form {
    display: flex;
    gap: 1.2rem;
    margin-bottom: -5rem;
    margin-right: 0.6rem;
    cursor: pointer;
    
}



