:root {
}
.block .overview {
  display: flex;
  gap: 0.6rem;
}
.overview .title {
  margin-top: -2.1rem;
  color: #9a9a9a;
  font-size: 1rem;
}
.flexForOverview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.3rem;
  padding: 0rem 6rem 0rem 1.6rem;
  border-radius: 0.6rem;
  gap: 1.3rem;
  margin-left: -6.2rem;
}
.overview-list {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 1.2rem;
  margin-left: 5rem;
}
.overview-list .yellow {
  background-color: #f1cb5c;
}
.overview-list .violet {
  background-color: #4f3e9c;
}
.overview-list .pink {
  background-color: #ec6397;
}
.overview-list .lightviolet {
  background-color: #cdc0eb;
}
.icon {
  width: 3.5rem;
  height: 3.5rem;
}
.number {
  color: white;
}
